{% macro document_section(section, schema, definitions) %}
{{ section }}
{{ "-" * section|length }}

{% with ref = (schema["allOf"]|map(attribute="$ref")|first).split('/')|last -%}
{% for k, v in definitions[ref]["properties"].items() -%}

``{{ k }}``
{{ "_" * (k|length + 4) }}

.. list-table::
   :widths: 15 85

   * - **Description**
     - {{ v["description"] }}
   * - **Type**
     - ``{{ v["type"] }}``
   * - **Default**
     - {{ "``{}``".format(v.get("default")) if v.get("default") != "" else "" }}
   * - **Required**
     - ``{{ v["required"] or false }}``
   * - **Environment Variable**
     - ``{{ "NORNIR_{}_{}".format(section, k).upper() }}``

{% endfor %}
{% endwith %}
{%- endmacro %}

{% for k, v in schema["properties"].items() if k not in ["user_defined"] %}
{{ document_section(k, v, schema["definitions"]) }}
{% endfor %}
