colorama
jinja2
napalm>=2.3.0
netmiko>=2.1.1
paramiko
future
requests
ruamel.yaml
mypy_extensions
-e git+git@github.com:samuelcolvin/pydantic.git@0b4f10f483b59e1a1e19a9208ebde36822ebee16#egg=pydantic
