{% macro document_section(section, schema) %}
{{ section }}
{{ "-" * section|length }}

{% for k, v in schema["properties"].items() -%}

``{{ k }}``
{{ "_" * (k|length + 4) }}

.. list-table::
   :widths: 15 85

   * - **Description**
     - {{ v["description"] }}
   * - **Type**
     - ``{{ v["type"] }}``
   * - **Default**
     - {{ "``{}``".format(v["default"]) if v["default"] else "" }}
   * - **Required**
     - ``{{ v["required"] or false }}``
   * - **Environment Variable**
     - ``{{ "NORNIR_{}_{}".format(section, k).upper() }}``

{% endfor %}
{%- endmacro %}

{% for k, v in schema["properties"].items() if k not in ["user_defined"] %}
{{ document_section(k, v) }}
{% endfor %}
