The configuration parameters will be set by the :doc:`Nornir.core.configuration.Config </ref/api/configuration>` class.

{% for k, v in params|dictsort %}
----------

{{ k }}
----------------------------------


.. raw:: html

	<table border="1" class="docutils">
		<th>Environment variable</th>
		<th>Type</th>
		<th>Default</th>
			<tr>
			{% if v['type'] in ('str', 'int', 'bool') %}
				<td>{{ v['env'] or 'BRIGADE_' + k|upper }}</td>
			{% else %}
				<td>N/A</td>
			{% endif %}
				<td>{{ v['type'] }}</td>
				<td>{{ v['default_doc'] or v['default'] }}</td>
			</tr>
	</table>

{{ v['description'] }}

{% endfor %}
