interfaces {
{% for interface, data in l3.interfaces.items() %}
    replace:
    {{ interface }} {
       description "link to {{ data.connects_to }}";
        {{ "disable;" if not data.enabled else "" }}
        unit 0 {
            family inet {
                address {{ data.ipv4 }};
            }
        }
    }
{% endfor %}
}

